asgiref==3.2.9
cycler==0.10.0
dj-database-url==0.5.0
Django==3.0.7
django-heroku==0.3.1
django-mathfilters==1.0.0
gunicorn==20.0.4
joblib==0.15.1
kiwisolver==1.2.0
matplotlib==3.2.1
mysqlclient==1.4.6
mysqlpy==8.0.12
numpy==1.18.5
pandas==1.0.4
protobuf==3.12.2
psycopg2==2.8.5
PyMySQL==0.9.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
sqlparse==0.3.1
threadpoolctl==2.1.0
whitenoise==5.1.0
